* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style: none;
    text-decoration: none;
}

body.fondo {
    background-color: rgb(255, 216, 168);
}

body.index {
    background: rgba(0, 0, 0, 0.750) url(../assets/img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center center;
    background-attachment: fixed;
}

/* Index */

.tituloIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#ii {
    letter-spacing: -10px;
    margin-top: -30px;
}

h1.italiano {
    font-size: 9rem;
    color: rgb(255, 174, 0);
    text-align: center;
}

@media (max-width: 700px) {
    h1.italiano {
        font-size: 6.5rem;
        margin-top: 10vh;
    }
}

@media (max-width: 520px) {
    h1.italiano {
        margin-top: 4vh;
        font-size: 6rem;
    }
}

/* Sobre Nosotros */

.contenedorAbout {
    width: 100vh;
}

img.logos {
    height: 10vh;
    padding-left: 4vh;
}

p.tel {
    padding-bottom: 3vh;
}

/* Ubicación */

div.ubicacion {
    font-size: 2.5rem;
    text-align: center;
}

/* Reservas */

p#reservas {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.cajaFormulario {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}

div.formulario {
    text-align: center;
    background-color: rgb(161, 161, 161);
    max-width: 60vh;
    border-style: solid;
    border-radius: 20px;
    width: 60vh;
}

p.datosPersonales {
    font-size: 4vh;
    padding-bottom: 3vh;
}

input.enviarReserva {
    margin-bottom: 5%;
}

@media (max-width:600px) {
    div.formulario {
        width: 50vh;
    }
}