* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(255, 216, 168);
}

#contenedor {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 10fr auto;
}

body.index {
    background: rgba(0, 0, 0, 0.750) url(../assets/img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center center;
    background-attachment: fixed;
}

/* Index */

.tituloIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ii {
    letter-spacing: -10px;
    margin-top: -80px;
}

h1.italiano {
    font-size: 9rem;
    color: rgb(255, 174, 0);
    text-align: center;
}

nav {
    display: flex;
    text-align: center;
    justify-content: center;
}

ul.indexPosition {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

li.index {
    text-align: center;
    border: 3px solid rgba (100,100,100,1);
    margin: 20px;
    padding: 20px;
    width: 90%;
    font-size: 2rem;
    border-radius: 50px;
    color: #FFF;
    background-size: 300%;
}

li.index:hover {
    background-position: right;
    transition: 0.7s;
}

.degrade {
    background-image: linear-gradient(to left, rgba(209, 209, 209, 0.767), #e9c666f5);
}

/* Footer */

.footerIndex {
    color: rgb(110, 110, 110);
    text-align: end;
    align-self: end;
}

/* Header */

header.header {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: gray;
}

ul.links {
    display: flex;
    flex-direction: row;

}

li.head {
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 45px 10px 45px;
    font-size: 2rem;
    border-style: solid;
    border-radius: 20px;
    background-color: black;
    font-weight: bold;
}

/* Menú */

#contenedorMenu {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 20fr auto;
}

ul.uno{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

li.mayuscula{
    font-size: 5rem;
    text-decoration: underline;
}

ul.dos {
    border-style: dotted;
    border-radius: 100px;
}

ul.dos li {
    font-size: 3.5rem;
    font-weight: bolder;
}

ul.tres{
    display: flex;
    flex-direction: column;
}

ul.tres li {
    font-size: 1.5rem;
}



            /*--Resto de paginas--*/



/* Sobre Nosotros */

h1.titulos {
    font-size: 5rem;
    position: relative;
    margin-bottom: 2vh;
    text-decoration: underline;
}

div.parrafos {
    margin-bottom: 5vh;
    text-align: center;
    border-style: double;
    border-radius: 50px;
    padding-bottom: 1vh;
}

div h2.subtitle {
    font-size: 2.5rem;
    margin-bottom: 3vh;
}

img.logos {
    height: 10vh;
    padding-left: 4vh;
}

p.tel {
    padding-bottom: 3vh;
}

/* Ubicación */

div.ubicacion {
    font-size: 2.5rem;
    text-align: center;
}

/* Reservas */

p#reservas {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

div.formulario {
    text-align: center;
    background-color: rgb(161, 161, 161);
    padding-top: 1vh;
    max-width: 50vh;
    margin-left: 70vh;
    border-style: groove;
    border-radius: 30px;
}

form.dentroFormulario {
    text-align: start;
}

div.labels {
    padding-bottom: 5vh;
    font-size: 2.5vh;
}

p.datosPersonales {
    font-size: 4vh;
    padding-bottom: 3vh;
}

input.enviarReserva {
    margin-left: 37%;
    margin-bottom: 5%;
}
