body {
    main {
        color: black;
        div.container {

            div.row {
                h1.titulos {
                    font-size: 4.5rem;
                }
            }

            div.parrafos {
                margin-bottom: 5vh;
                text-align: center;
                border-style: dotted;
                border-radius: 50px;

                p.subtitle {
                    font-size: 2.5rem;
                    margin-bottom: 1vh;
                }

                p.tel {
                    padding-bottom: 3vh;
                }
            }

            nav {
                a {
                    img.logos {
                        height: 10vh;
                        padding-left: 4vh;
                    }
                }
            }
        }
    }
}


div h2.subtitle {
    font-size: 2.5rem;
    margin-bottom: 3vh;
}


p.tel {
    padding-bottom: 3vh;
}