* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  list-style: none;
  text-decoration: none;
}

body.fondo {
  background-color: rgb(255, 216, 168);
}

body.index {
  background: rgba(0, 0, 0, 0.75) url(../assets/img/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center center;
  background-attachment: fixed;
}
body.index div main .tituloIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
body.index div main .italiano, body.index div main .ii {
  font-size: 9rem;
  color: rgb(255, 174, 0);
  text-align: center;
}
body.index div main .ii {
  letter-spacing: -10px;
  margin-top: -30px;
}
body.index div nav {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
}
body.index div nav .indexPosition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0;
}
body.index div nav .indexPosition .indexbtn {
  text-align: center;
  border: 3px solid rgba 100, 100, 100, 1;
  margin: 20px;
  padding: 20px;
  width: 90%;
  font-size: 2rem;
  border-radius: 50px;
  color: #FFF;
  background-size: 300%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body.index div nav .indexPosition .indexbtn:hover {
  background-position: right;
  transition: 0.7s;
}
body.index div nav .indexPosition .degrade {
  background-image: linear-gradient(to left, rgba(209, 209, 209, 0.767), rgba(233, 198, 102, 0.9607843137));
}
body.index div nav .indexPosition a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.footerIndex {
  color: rgb(111, 111, 111);
  position: fixed;
  bottom: 0%;
  right: 0%;
  font-size: 1rem;
}

ul.uno {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
}
ul.uno li.mayuscula {
  font-size: 5rem;
  text-decoration: underline;
  padding: 0;
}
ul.uno ul.dos {
  border-style: dotted;
  border-radius: 100px;
  padding: 0;
}
ul.uno ul.dos li {
  font-size: 3.5rem;
  font-weight: bolder;
  padding: 0;
}
ul.uno ul.dos ul.tres {
  display: flex;
  flex-direction: column;
  padding: 0;
}
ul.uno ul.dos ul.tres li {
  font-size: 1.5rem;
}

@media (max-width: 950px) {
  body.index div main h1.italiano, body.index div main h1.ii {
    font-size: 6.5rem;
    margin-top: 10vh;
  }
  body.index div main h1.ii {
    margin-top: -30px;
  }
}
@media (max-width: 600px) {
  body.index div main h1.italiano, body.index div main h1.ii {
    margin-top: 4vh;
    font-size: 6rem;
  }
  body.index div main h1.ii {
    margin-top: -30px;
  }
  body.index div nav ul.indexPosition li.indexbtn a {
    font-size: 1rem;
  }
}
@media (max-width: 950px) {
  .titulos {
    text-align: center;
  }
  ul.uno li.mayuscula {
    font-size: 4rem;
  }
  ul.uno ul.dos li {
    font-size: 2.7rem;
  }
  ul.uno ul.dos ul.tres li {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  ul.uno li.mayuscula {
    font-size: 3rem;
  }
  ul.uno ul.dos li {
    font-size: 2rem;
  }
  ul.uno ul.dos ul.tres li {
    font-size: 1rem;
  }
}
@media (max-width: 950px) {
  .footerIndex {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=styles.css.map */